:root {
    --darkgrey: #212329;
    --brightred: #f9423d;
    --white: #fff;
    --lightred: #f9433dcc;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Calibri", sans-serif;
}

/* NAVBAR */
/**************************************************************************/
.nav-container {
    width: 100%;
    background-color: var(--darkgrey);
}

.navbar {
    display: grid;
    grid-template-columns: 0.2fr auto 1fr;
    align-items: center;
    height: 80px;
    width: 100%;
    max-width: 1720px;
    margin: 0 auto;
}

/* home button "PHILLIP" */
#navbar-logo {
    color: var(--white);
    justify-self: start;
    margin-left: 60px;
    margin-right: 10px;
    font-family: "Rock 3D", sans-serif;
    font-size: 28px; /* Size of the home button tab "Phillip" */
    cursor: pointer;
}
#navbar-logo-link {
    all: unset;
}
#navbar-logo-link:hover {
    color: var(--brightred);
    transition: all 0.2s ease;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(3, auto); /* adjust if number of tabs changes*/
    list-style: none;
    text-align: center;
    width: 40%; /* how far across screen do tabs stretch */
    justify-self: start;
}

/* tab values */
.nav-links {
    color: var(--white);
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 22px; /* size of the tabs */
}
.nav-links:hover {
    color: var(--brightred);
    transition: all 0.2s ease;
}

.menu-toggle .bar {
    width: 25px;
    height: 3px;
    margin: 5px auto;
    transition: all 0.3s ease-in-out;
    background: var(--white);
}

/* show hamburger menu when screen size is under certain width */
@media screen and (max-width: 768px) {
    .nav-container {
        position: relative;
    }

    #navbar-logo {
        margin-left: 60px;
    }

    .nav-menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: 80px; /* change if I change the height of the navbar */
        left: -100%;
        opacity: 0;
        transition: all 0.5s ease;
    }
    .nav-menu.active {
        background: var(--darkgrey);
        left: 0;
        opacity: 1;
        z-index: 3;
        transition: all 0.5s ease;
    }

    .nav-links {
        text-align: center;
        line-height: 80px;
        width: 100%;
        margin-left: 0px;
        margin-right: 0px;
        display: table;
    }
    .nav-links:hover {
        background-color: var(--brightred);
        color: var(--white);
        transition: all 0.4s ease-out;
    }

    .navbar {
        width: 100%;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(10%, 35%);
    }

    .menu-toggle .bar {
        display: block;
        cursor: pointer;
    }

    .menu-toggle:hover {
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

}
/**************************************************************************/

/* MAIN PAGE */
/**************************************************************************/
/* containers for layout purposes */
#banner-container {
    width: 100%;
    height: 240px;
    background-image: url("./assets/images/trumpet.jpg");
    background-size: cover;
    background-position: center;
}

#main-container {
    margin-top: 60px;
    margin-left: 100px;
    margin-right: 100px;
    margin-bottom: 50px;
}

#about-me-container {
    position: relative;
    width: 100%;
    top: 0;
    margin-bottom: 40px;
}

#more-info-container {
    position: relative;
    width: 48%;
    float: left;
}

#slideshow-container {
    position: relative;
    width: 48%;
    float: right;
}

/* change container layout when screen size is under certain width */
@media screen and (max-width: 1200px) {
    #about-me-container {
        position: relative;
        width: 100%;
        top: 0;
        margin-bottom: 0;
    }
    
    #more-info-container {
        position: relative;
        width: 100%;
        float: none;
    }
    
    #slideshow-container {
        position: relative;
        width: 100%;
        float: none;
    }
}

.section-header {
    color: red;
    font-size: 35px;
    font-weight: bold;
}

.section-body {
    margin-top: 30px;
    margin-bottom: 30px;
}

p {
    color: black;
    font-size: 20px;
    margin-top: 20px;
    line-height: 1.5;
}

/* link in text */
.text-link:link, .text-link:visited {
    text-decoration: none;
    color: blue;
}
.text-link:hover {
    text-decoration: underline;
}

/* circular links */
#circular-links {
    margin-top: 20px;
}
.fa {
    font-size: 30px;
    height: 60px;
    width: 60px;
    margin-right: 15px;
    text-align: center;
    padding: 15px;
    text-decoration: none;
    border-radius: 50%;

}
.fa:hover {
    opacity: 0.7;
}
.fa-linkedin {
    background: rgb(0, 115, 188);
    color: white;
}
.fa-github {
    background: black;
    color: white;
}
.fa-graduation-cap {
    background: rgb(47, 123, 253);
    color: rgb(219, 233, 255);
    padding-left: 0;
    padding-right: 0;
}
.fa-instagram {
    background: radial-gradient(circle farthest-corner at 35% 90%, #fec564, transparent 50%), radial-gradient(circle farthest-corner at 0 140%, #fec564, transparent 50%), radial-gradient(ellipse farthest-corner at 0 -25%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 20% -50%, #5258cf, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 0, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 60% -20%, #893dc2, transparent 50%), radial-gradient(ellipse farthest-corner at 100% 100%, #d9317a, transparent), linear-gradient(#6559ca, #bc318f 30%, #e33f5f 50%, #f77638 70%, #fec66d 100%);
    color: white;
}
/**************************************************************************/

/* SLIDESHOW IMAGE (slideshow-container in previous section) */
/**************************************************************************/
.my-slides { /* Hide the images by default */
    display: none;
}

/* Next & previous buttons */
#prev, #next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 30px;
    transition: 0.3s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
#next { /* Position the "next button" to the right */
    right: 0;
    border-radius: 3px 0 0 3px;
}
#prev:hover, #next:hover { /* On hover, add a black background color with a little bit see-through */
    color: gray;
}

/* container for dots */
#dots-container {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin-bottom: 10px;
    text-align: center;
    z-index: 2;
    /*
    margin-top: -22px;
    padding: 16px;
    border-radius: 0 3px 3px 0;
    user-select: none;*/
}
.dot { /* the dots/bullets/indicators */
    cursor: pointer;
    height: 10px;
    width: 10px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.3s ease;
}
.active, .dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1s;
}
@keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
}
/**************************************************************************/